#map {
	height: 55%;
}

#navtitle {
	color: black;
	font-size: 200px;
}

#photos {
	margin: 0;
	padding: 0 0 0 60px;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	/*background-image: url("http://www.publicdomainpictures.net/pictures/90000/velka/earth-map.jpg");*/
	background-color: #9fc7ff;
	/*background-repeat: no-repeat;*/
}
#splash-body {
	background-image: url("http://www.publicdomainpictures.net/pictures/90000/velka/earth-map.jpg");
	background-repeat: ;
	height: ;
}
.responsive-image{
    width: 100%;
    background-size: 100% 100%;
}
/*
.parallax-container {
	height: "300px";
}*/



.btn {
    font-size: 2.5rem;
    outline: 0;
    padding: 15px;
		color: antiquewhite;
		border-radius: 25px;
}

.modal-footer {
	text-align: center;
  padding: 50px;

}

.modal-footer a {
	display:inline-block;
	margin:0 15px;
	float:none;
	text-align: center;
	width: 400px;
	height: 100px; /*if you set float already */
}

.image {
	display:inline-block;
	border:0;
	width:200px;
	height:200px;
	position: relative;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.image:hover {
	box-shadow: 0px 0px 150px #000000;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(2);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(2);
	transition: all 200ms ease-in;
	transform: scale(2);
}

.carousel .carousel-item {
    width: 500px;
    height: 500px;
}

.carousel {

    height: 575px;
}
