#map {
	height: 55%;
}


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.modal-footer {
	text-align:center;\
  padding: 30px;
}

.modal-footer a {
	display:inline-block;
	margin:0 15px;
	float:none; /*if you set float already */
}

#navtitle {
  color: black;
  font-size: 200px;
}
